.box1 {
  background: #EEEEEE;
 width: 1160px;
 height: 73px;
  text-align: center;
 margin: 5px 3px 0 0  ;

  
}
.box2{
  background: rgb(126, 229, 218);
  width: 500px;
  height: 80px;
  margin: 5px 3px 0 0 ; 
 float: left;
 text-align: center;


 
}
.box3{
  background: #70CCC2;
 float: left;
  width: 250px;
  height: 80px;
  margin: 5px 3px 0 0 ;
  text-align: center;
  
 

}
.box4{
float: left;
  background: #62B3AA;
 text-align: center;
  width: 405px;
  height:80px;
  margin: 5px 3px 0 0  ;

  
}
.box5 {
 text-align: center;
 float: left;
 margin: 20px;
}
